:host{
    display: block;
    background-color:  #555555;
}

.container{

    margin:auto;
    margin-bottom: 2%
}


.card {
max-width: 100%;
margin:10px
}

.flex {
display:flex;
flex-wrap:wrap;
justify-content: space-around;
}
.imgForfaitLong{
    width:100%;
    height: auto;
    padding: 2%;
}
.row{
    align-items: center;
}
h2{
    padding: 4%;
    color: #fff;
    text-align: center;
}
.etoiles{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 800;
}

.commentaire{
    font-size: 0.9rem;
    font-weight: 800;
}

.adresseWrapper p{
    margin-bottom: 0px;
}

.drawer{
    background-color: rgb(185, 235, 236);
    padding-bottom: 2%;
}

.forfait-wrap{
    background-color: rgb(201, 201, 201);
    padding: 2%;
}