
:host {
    display: block;
    background-color: rgb(185, 235, 236);

}
.card {
    
    margin:10px
}

.flex {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.flex-col{
    display:flex;
    flex-direction: row;
}
.drawer{
    background-color: rgb(185, 235, 236);
    padding-bottom: 2%;
}


