
<div class="container">
    <h2>Les forfaits premium à ne pas manquer</h2>

    <div class="row">
       
        <ng-container *ngFor="let f of forfaits">
            <div class="col-md-3"  *ngIf="f.statut ==='premium'">
                <mat-card>
                    <img mat-card-image src="https://picsum.photos/400/200" alt=" Lorem Picsum">
                    <mat-card-title>{{f.nom}}</mat-card-title>
                    <mat-card-subtitle>{{f.etablissement.coordonnees.ville}}</mat-card-subtitle>
                  
                        <app-prix class="flex" [prix]="f.prix" [nouveauPrix]="f.nouveauPrix"></app-prix>
                  
                
                    <mat-card-content>
                        <p> Du {{f.dateDeDebut}} au {{f.dateDeFin}}</p>
                    </mat-card-content>
                </mat-card>   
            </div>
        </ng-container> 
    </div>    

        
<!-- un des forfaits ne s'affiche pas, je pense qu'il ne correspond pas aux critère premium -->







