
:host {
    display: block;
    background-color: rgb(58, 58, 58);

}
h2{
    color: #fff;
    text-align: center;
    padding-bottom: 2%;
    text-transform: uppercase;
    font-weight: 200;
}

.card {
    margin:10px
}

.flex {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding:2%;
}

.flex-col{
    display:flex;
    flex-direction: row;
}


mat-card-header{
 margin:0px;
}


