.barre{
    text-decoration: line-through;
    color: red;
}

.oldprice{
    font-size:1.5rem;
    padding-right:1rem;
    color: #000;
}

.newprice{
    font-size: 1.5rem;
    font-weight:800;
    color: rgb(11, 220, 18);  
    padding-right:1rem;  
}
.pricesave{
    font-size:0.8rem;
    padding:5px;
    color:#fff;
    background-color: #000;


}