<div class="container">
<h1>À propos de ce projet</h1>
<p>Le but de ce projet était de me familiariser avec le framework Angular, qui est utilisé pour développer des applications web en une seule page, également appelées "single page app". </p>
    
    <p>L'objectif est d'améliorer l'expérience utilisateur en optimisant le temps de chargement, car tous les composants sont chargés sur une même page.</p> 
    <p>Pour réaliser ce projet, j'ai dû me familiariser avec TypeScript, qui est le langage de programmation utilisé par Angular.</p>

    <p>En outre, j'ai créé une API pour une base de données MySQL et l'ai intégrée à mon application.</p> 
<p> La page de gestion permet de réaliser toutes les opérations nécessaires pour communiquer avec la base de données, comme POST, PUT, ADD et DELETE.</p>

<p>Merci encore, Carine ! J'ai beaucoup aimé ton approche. J'ai pris plaisir à coder, ce qui est énorme pour moi ! En fait, je pense que c'est ma plus grande motivation. Maintenant, je vais accorder un peu plus de temps à ma famille. À bientôt !</p>
</div>